* {
    box-sizing: border-box;
  }
  header {
    padding: 1px;
    text-align: left;
    background: skyblue;
    color: darkgray;
    text-align: center;
  }

  hr{
    height: 3px;
    background-color:rgb(147, 158, 204);
    opcaity: 0.5;
  }
  nav {
    display: flex;
    text-align: center;
    background-color: darkgray;

  }

  nav a{
    list-style: none;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    color: lightblue;
    text-decoration: underline;
    font-weight: bold;
  }


.subtitle{
    text-align: center;
    background-image: url(./images/laptop.png);
    padding: 10px;
    color: skyblue;
}

main {
    display: flex;
    flex-wrap: wrap;
  }

  aside {
    flex: 1;
    padding: 20px;
  }

.About{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(30, 119, 155);
}
.Work{
    padding-bottom: 10px;
}
.workImages {

    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
  }

  img{
    opacity: 80%;
  }

  img:hover{
    opacity: 100%;
  }


  footer{
    text-align: center;
    text-decoration: underline;
    color: lightblue;
  }
  footer > ul{
    color: black;
    list-style: none;
    text-decoration: underline;
    text-align: center;
    line-height: 1.5;
  }
 
  .project {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 50%;
  }
  .project h3{
    text-align: center;  
}
.big{
    width: 100%;
}
  img {
    width: 100%;
  }
  @media screen and (max-width: 992px) {
  }

  @media screen and (max-width: 768px) {
    .test{
        width: 100%;
    }
    .project {
      width: 100%;
    }
  

